---
import BaseLayout from '@src/layouts/BaseLayout.astro';
import getBlogData from '@src/utils/getBlogData';
import getLatestPosts from '@src/utils/getLatestPosts';
import LatestPosts from '@src/components/PostList.astro';
import AuthorArea from '@src/components/AuthorArea.astro';

const blogData = await getBlogData();
const posts = await getLatestPosts();
---

<BaseLayout
  pageTitle={blogData.title}
  pageDescription={blogData.about.text}
  pageImage={blogData.ogImageUrl}
  pageType="website"
>
  <div class="flex flex-col gap-14">
    <AuthorArea author={blogData.author} />
    <h2 class="text-3xl font-extrabold md:text-4xl">Latest Blog Posts</h2>
    <LatestPosts posts={posts} />
  </div>
</BaseLayout>
