---
import Container from '@src/components/Container.astro';
import Navbar from '@src/components/Navbar.astro';
import Footer from '@src/components/Footer.astro';

import '@src/styles/index.css';

type Props = {
  seoTitle: string;
  seoDescription: string;
  seoImage: string;
  seoPageType: 'website' | 'article';
};

const { seoTitle, seoDescription, seoImage, seoPageType } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{seoTitle}</title>
    <meta name="description" content={seoDescription} />
    <meta name="image" content={seoImage} />
    <meta name="theme-color" content="#1EB854" />
    <meta property="og:title" content={seoTitle} />
    <meta property="og:description" content={seoDescription} />
    <meta property="og:image" content={seoImage} />
    <meta property="og:image:alt" content={seoTitle} />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:type" content={seoPageType} />
    <meta property="og:site_name" content={seoTitle} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={seoTitle} />
    <meta property="twitter:url" content={Astro.url.href} />
    <meta property="twitter:description" content={seoDescription} />
    <meta property="twitter:image" content={seoImage} />
    <meta property="twitter:image:alt" content={seoTitle} />
    <meta property="twitter:creator" content="femincan" />
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.hashnode.com/res/hashnode/image/upload/v1684356184572/D8ooHANQV.png?auto=compress,format&format=webp&fm=png"
    />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <div class="flex h-full w-full flex-col">
      <Navbar />
      <div class="flex-1 py-14">
        <Container>
          <slot />
        </Container>
      </div>
      <Footer />
    </div>
  </body>
</html>
